<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>We're be back</h1>
    <p>We are doing maintenance</p>

    {{> footer}}
  </body>

</html>
